

.layer{
    position: relative;
    background-color: rgba(0, 0, 0, 5);
    z-index: 1;
}
/*白フラッシュは画像の読み込みが間に合ってないみたい*/

@keyframes image_anime {
    0%{
        background-image: url(/img/black.png); 
    }
    23% {
        background-image: url(/img/ramen1.jpg); 
    }
    41%{
        background-image: url(/img/ramen2.jpg);
    }
    59%{
        background-image: url(/img/ramen3.jpg);
    }
    77%{
        background-image: url(/img/ramen4.jpg);
    }
    95%{
        background-image: url(/img/ramen5.jpg);
    }
    100%{
        background-image: url(/img/black.png);
    }
  }




  table{
    margin:auto;
}

button{
    width: 10em;
    height: 5em;
}