#top{
    background-image: url(/img/black.png), url(/img/ramen1.jpg), url(/img/ramen2.jpg), url(/img/ramen3.jpg), url(/img/ramen4.jpg), url(/img/ramen5.jpg),; 
    min-height: 100vh;
    width: auto;
    animation: image_anime 10s ease; 
    animation-fill-mode: backwards; 
    animation-delay: 2s; 
    animation-iteration-count: infinite;

}

@keyframes image_anime {
    0%{
        background-image: url(/img/black.png); 
    }
    23% {
        background-image: url(/img/ramen1.jpg); 
    }
    41%{
        background-image: url(/img/ramen2.jpg);
    }
    59%{
        background-image: url(/img/ramen3.jpg);
    }
    77%{
        background-image: url(/img/ramen4.jpg);
    }
    95%{
        background-image: url(/img/ramen5.jpg);
    }
    100%{
        background-image: url(/img/black.png);
    }
  }

#fuck{
    background-color: white;
    color:red;
}



  table{
    margin:auto;
}

button{
    width: 10em;
    height: 5em;
}